{% extends "base.html" %}
{% block pagetitle %}Menstruation{% endblock %}
{% block subtitle %}Learn about the basics, options, professionals, and more{% endblock %}
{% block main %}
<!--<p class="intro">
    Menstruation does not need to be a scary or embarrassing topic to talk about, nor should you be scared to
    learn more about it.
    In order to have the best possible menstrual experience, it is important to know the basics.
</p>-->

<div class="album py-5 bg-dark">
    <div class="container">

        <div class="row">

            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                            <h5 class="card-title">Menstruation Basics</h5>
                        <p class="card-text">Learn the basics of what happenes to the body during menstruation and why this cycle occurs.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Learn</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                            <h5 class="card-title">Menstrual Options</h5>
                        <p class="card-text">Learn about the wide variety of period products avaliable and the pros and cons of each type.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Learn</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                            <h5 class="card-title">Seeking Professionals</h5>
                        <p class="card-text">Learn about who you can see to talk about your period and other aspects of your reproductive health. </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Learn</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                            <h5 class="card-title">Tips and Tricks</h5>
                        <p class="card-text">Learn little tips that can make your period more pleasant and easier to handle.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Learn</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}