{% extends "base.html" %}
{% block pagetitle %}About Us{% endblock %}
{% block subtitle %}Learn about our purpose and how to contact us{% endblock %}
{% block main %}


<div class="container">
    <div class="col-md-12">
  <div class="card-body">
    <h5 class="card-title">Our Quick Story</h5>
    <p class="card-text">Talk About Periods was started as a school project, but it has quickly become more
      than just a grade. The purpose of Talk About Periods is to help end the stigma around menstruation by creating a
      space where people can learn about menstruation and become inspired to start a conversation. <strong>Join us and Talk
      About Periods!</strong></p>
  </div>
</div>
</div>

<div class="container about-cont">
    <div class="col-md-12">
  <div class="card-body">
    <h5 class="card-title">Contact Us:</h5>
    <div class="row">
        <div class="col-sm-4">
          <a href="https://www.instagram.com/talkaboutperiods/" target="blank">
            <div class="card-body">
              <h5 class="about-icon"><i class="fab fa-instagram"></i></h5>
            </div>
          </a>
        </div>
    
        <div class="col-sm-4">
          <a href="https://twitter.com/talkaboutperio1?lang=en" target="blank">
              <div class="card-body">
                <h5 class="about-icon"><i class="fab fa-twitter"></i></h5>
            </div>
          </a>
        </div>
    
        <div class="col-sm-4">
            <a href="mailto:talkaboutperiods@gmail.com" target="blank">
              <div class="card-body">
                <h5 class="about-icon"><i class="far fa-envelope"></i></h5>
              </div>
            </a>
          </div>
      </div>
  </div>
</div>
</div>




{% endblock %}