{% load static %}
<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        body {
            background-color: #fffdfd;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .display-4 {
            color: #fff;
            font-size: 80px;
            justify-content: center;
        }
    
        .lead {
            color: black;
            font-size: 35px;
        }

        .jumbotron {
            background-color: #ff4d4d;
        }

        .intro {
            color: black;
            font-size: 18px;
        }
        p.b {
            font-style: italic;
            font-size: 16px;
            font-weight: light;}

        .mainpagestuff {
            margin: 0px 25px 0px 25px;
        }

        .topicheadings {
            color: Black;
            font-size: 20px;
        }

        .cost {
            font-style: italic;
        }

        .procon {
            margin: 0px;
        }

        img {
            border-radius: 50%;
        }

        a {
            text-decoration: none;
            
        }
    </style>
</head>

<body>
        
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Menstruation</h1>
                  <p class="lead">The Basics</p>
                </div>

              </div>
<article class="mainpagestuff">
              <p class="intro">
                    Menstruation does not need to be a scary or embarrassing topic to talk about, nor should you be scared to learn more about it. 
                    In order to have the best possible menstrual experience, it is important to know the basics. 
            </p>
    <div class="menstruationbasics">
        <h3 class="topicheadings">Menstruation Basics</h3>
            <p class="question">
                What is menstruation? 
                 </p>
                    <p>
                            Menstruation is a process that occurs in the body of most people with a uterus and other reproductive organs usually associated with the female/woman body. 
                            However, it is important to note that not everyone who menstruates necessarily identifies as female, so we’ll refer to people who experience menstruation as menstruators. 
                            Menstruation is where blood and other small fragments of tissue from the lining of the uterus are discharged through the vagina every 28 days (or so) from the time the person reaches puberty until they reach menopause, except for the time when/if they are pregnant 
                    </p>

          <p class="question">
                Why does menstruation happen?
             </p>
                <p>
                        Menstruation happens as the menstruator’s body prepares for pregnancy each month. The ovaries release two chemical messengers or hormones,  called estrogen and progesterone. 
                         These two hormones help the body to build up the lining of the uterus.  When the uterus is "built up" it can accept a fertilized egg and a pregnancy can begin. 
                         If there is not a fertilized egg, the lining of the uterus breaks down and bleeds.  This same process happens over and over again throughout a menstruator’s lifetime.   
                </p>

            <p class="question">
                When does menstruation happen?
                </p>
                    <p>Menstruation happens quite regularly after a few years. 
                         In the beginning a menstruator may not know when to predict their period, but after about 2-3 years a menstruator’s periods should be quite predictable, usually once every 4-5 weeks.  Most periods last for about 5 days. 
                         Some are shorter and some are longer.  
                    </p>

            <p class="question">
                Who does menstruation happen to?
            </p>
                <p>
                        Menstruation usually happens to a people with a female anatomy/body about 2 years after their breasts begin to develop and about 6 months to a year after they begins to see vaginal discharge (mucus type fluid) that they might see or feel in their underwear. 
                        This time period usually occurs sometime during the pre-teenage to teenage years, though it is different for each person.
                </p>

            <p class="question">
                Are menstruation and period the same thing?
                </p>
                    <p>
                        Yes. Menstruation and period are the same thing. Menstruation is usually the more formal term, while period is the more common term.
                    </p>

            <p class="question">
                Does menstruation hurt?
              </p>
                <p>
                        Menstruation should not be particularly painful, but it can be uncomfortable.  Cramps can be common with menstruation, especially during the first few days.  You can try a warm heating pad on your stomach or taking ibuprofen or naproxen.  
                        If you have severe cramps that do not get better with ibuprofen or naproxen it would be a good idea to talk with your doctor.
                </p>

            <p class="question">
                What is PMS?
                 </p>
                    <p>
                            PMS is short for PreMenstrual Syndrome.  It stands for emotional and physical symptoms that may happen before or during your period.  These symptoms might include anxiety, sadness, moodiness, bloating, and acne. 
                             If you have severe PMS and it's difficult to do your everyday activities it would be a good idea to talk with your docto 
                    </p>

    </div>

    <h3 class="topicheadings">What Are My Product Options?</h3>
    <p>
        A quick overview over some of the most popular menstrual products
    </p>

    <p> 
            There is no pressure to choose one product over another, nor do you have to necessarily choose just one type.
            Some products are better for certain tasks than others, and the right product(s) for you depend on your needs.
            There is no right answer, and the best product is one you feel most comfortable using.
    
        </p>
    
    <p class="b">
        Note: all costs are very rough estimates as prices vary greatly from brand to brand and between styles
    </p>

    
    <div class="pads">
    <p>
        Pads (sanitary napkins)
    </p>
        <p class="cost"> 
                Cost: 
                Disposable- about 10 - 30 cents (USD) per pad - if period lasts 5 days and uses each pad for 8 hours (3 a day)  about 1.50 to 4.50 USD per period
        </p>
        <p class="cost">
                Cloth- about 18 (USD)  
        </p>
                <p>
                        Pads are  thick pieces of material that line the underwear in order to collect menstruation blood. Disposable pads are sticky and are stuck to the underwear, while cloth pads are usually buttoned closed around the underwear. Unlike tampons, pads are external and collect blood once it has come out of the vagina. <a href="https://always.com/en-us/tips-and-advice/your-first-period/how-to-use-a-pad" target="_blank">Here</a> is a guide by Always for how to put on a pad. Pad packages should also include instructions for how to put them on. Pads come in a wide variety of sizes and shapes. Some are thicker and designed for heavier flow, while some are thinner and lighter. Some pads have wings, while others don’t.The length a pad can be worn for greatly varies depending on the type, but in general most pads can be worn for about 6-8 hours. Disposable pads are discarded after each use, while cloth pads can be washed and used again. 
                        Panty liners are very light pads that can be worn on very light days during the period, or for everyday use to collect vaginal discharge.  
                </p>
                    <p class="procon">
                        Pros
                    </p>
                        <ul>
                            <li>Comfortable</li>
                           <li>External</li> 
                            <li>Lack of TSS risk</li>
                            <li>Great for sleep if longer than 8 hours</li>
                            <li>Take out easily and comfortably even if flow is not heavy</li>
                            <li>Wide variety of shapes and sizes</li>
                            <li>Cloth pads can be reused for several years and are cost efficient</li>
                         </ul>  
                    <p class="procon">
                        Cons
                    </p>
                        <ul>
                            <li>Can’t swim</li>
                            <li>Leaks if not positioned correctly </li> 
                        </ul>
                    
        </div>

        <div class="tampons">
              <!-- <img src="{% static "tampongraphic.png" %}" alt="Graphic drawing of a tampon and a red background" style="width: 250px; height: 250px";>
                     --> 
                <p>
            Tampons
            </p>
                <p class="cost">
                    Cost: about 10 - 20 cents (USD) per tampon - if period lasts 5 days and uses each tampon for 8 hours (3 a day)  about 1.50 to 3.00 USD per period
                </p>
                    <p>
                            Tampons are soft cylinders usually made of cotton that are inserted inside the vagina to collect menstruation blood. They include a cylindrical portion that collects the blood, as well as a string that hangs out of the vagina for easy removal. Tampons generally come with a plastic applicator that helps insert the tampon, but it disposed of afterward the tampon has been inserted. Some tampons are now applicator free and are inserted with a finger.  Inserting your first tampon can be a bit intimidating, but <a href="https://youngwomenshealth.org/2012/09/27/tampons/" target="_blank">here</a> is a great guide for how to insert a tampon for the first time. In addition, most tampon packages will also include instructions.
                            If the tampon is in correctly, you should not be able to feel it. Tampons should not be left in for generally more than eight hours, though specific products will have their own recommendations. Leaving a tampon in for too long risks TSS as well as leaking.
                    </p>
                        <p class="procon">
                            Pros: 
                        </p>
                             <ul>
                                <li>Unlike pad, can be used for swimming</li>    
                                <li>Great for dance</li>   
                                <li>Different sizes</li>   
                            </ul>
                        <p class="procon">
                            Cons
                        </p>
                            <ul>
                               <li>TSS risk</li> 
                               <li>Can be difficult to put in</li> 
                               <li>Problems if not 100% cotton for some menstruators </li> 
                               <li>Uncomfortable to take out if flow not heavy enough</li> 
                            </ul>    
        </div>

        <div class="menstrualcups">
             <p class="cost">
                Menstrual Cups
            </p>
                 <p>
                     Cost: about 27 USD
                    </p>
                        <p>
                            Menstrual cups are small flexible bell-shaped cups made out of plastic that catch menstrual blood. Menstrual cups like tampons are inserted into the vagina in order to collect flow. Unlike tampons which absorb the blood, menstrual cups collect blood like a cup. Cups can be worn for up to 12 hours and are reusable. The cups are taken out and the blood disposed of usually in the toilet. After each use the cups need to be washed before the next use. <a href="https://menstrualcupreviews.net/insertion-faqs/#faq2" target="blank">This website</a> has great information on how to insert a menstrual cup along with answers to some common FAQs about inserting a cup.
                            </p>
                        <p class="procon">
                                Pros
                        </p>
                            <ul>
                                <li>12 hours - long time</li>
                                <li>Reusable</li>
                                <li>Cost efficient over time</li>
                            </ul>
                        <p class="procon">
                                Cons
                        </p>
                            <ul>
                                <li>Can create mess when try to take out</li>
                                <li>Possible uncomfortable</li>
                                <li>Cost efficient over time</li>
                            </ul>
                        
        </div>

        <div class="freebleeding">
            <p>
                Free-Bleeding Movement
            </p>
                <p class="cost">
                    Cost- Free
                    </p>
                        <p>Some menstruators either by choice or forced to by poverty free bleed on their periods. Free bleeding means not using any type of product to collect menstrual blood. Instead of wearing pads or similar products, menstruators allow period blood to freely flow, often staining their clothes. Free-bleeding has become a movement to advocate for free period products in public bathrooms as well as to show that menstruators should be able to menstruate however they feel comfortable. The movement seeks to show that people should be able to menstruate without the shame that surrounds menstruation in society.  HelloClue has a great <a href="https://helloclue.com/articles/culture/whats-all-fuss-about-free-bleeding-why-does-it-matter" target="blank">article</a> about free bleeding and the movement with it. 
                                At the same time, free-bleeding is not always voluntary and part of a movement, but rather due to lack of available period products. ( Period Obstacles / Period poverty has more information on this and programs seeking to help menstruators.
                                </p>
        </div>

        <div class="newproducts">
             <p>
                 New Products
             </p>
                <p class="cost">
                    Costs- greatly vary
                </p>
                    <p>
                        There are many more other alternative menstrual options including disks and underwear, and new products are constantly being made. Before using a new product it is important to check the reviews as well as taking a look at the materials used.
                        </p>
        </div>

        <div class="whocanisee">
    <h3 class="topicheadings">Who Can I See?</h3>
            <p>
                If you are experiencing irregularities, abnormal discomfort, or any other issues concerning your menstruation, it is important that you talk to a doctor or healthcare professional. Even if everything with your cycle appears normal, it is recommended that you see a professional sometimes. And it is highly recommended that you see someone at least once during your teenage years. It is important to know that there is no need to feel embarrassed or ashamed if you need or want to talk to a professional. It can feel intimidating to talk about, but remember that this is their job and they want to help you. There are a couple options of where you can go, including:
            </p>
                <p>	
                    Obstetrician-Gynecologist (Ob/Gyn)
                    </p>
                         <p>An obstetrician-gynecologist specializes in female health. They are great for helping with menstruation related issues or concerns as it is part of their area of expertise. Don’t be afraid to look for an Ob/Gyn near you and look into an appointment

                        </p>
                <p>Planned Parenthood</p>
                        <p>
                                <a href="https://www.plannedparenthood.org" target="blank">Planned parenthood</a> is a great resource if you are looking to talk to a professional about menstrual issues and finances are an obstacle. Though, unlike some of the other planned parenthood services, if you are a minor, in order to receive the well-woman exam, you do need parental consent. 
                                
                                </p>
                <p>
                    General Practitioner/ Physician
                    </p>
                        <p>You can talk to your general physician about any irregularities or worries you have about your menstruation. Hopefully they can help you, but they might end up referring you to an Ob/Gyn if more specialized help is needed.

                        </p>
        </div>
        
        <div class="extrahelp">
    <h3 class="topicheadings">Extra Help/Tips</h3>
            <ul>
                <li>Track your period manually or with an app, so you can predict when you need to be ready for your next time. Apps are helpful if your period is irregular especially during the first year of your period, as it finds trends to help make the prediction

                </li>
                <li>
                        If your period starts in public and you don’t have a product on hand, do not be scared to ask someone for a pad or tampon. Chances are the same thing has happened to them, and they will be totally willing to give you one.  
                </li>
                <li>
                        Get blood stains out of clothes with cold water and soap. 
                </li>
                <li>
                        Don’t flush pads or tampons down the toilet. Place them in the garbage can next to the toilet or in the little trash box provided in most public bathroom stalls. Pads and tampons can end up clogging toilets if flushed.
                </li>
                <li>
                        Don’t feel embarrassed about your period. About half of the population has, is going to, or is experiencing the same thing you are
                </li>
            </ul>
        </div>
            
</article>

</body>

</html>