{% load helpers %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img id="logo" src="{% static 'logo-cropped.png' %}" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% active 'home' %}">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item {% active 'stigma' %}">
        <a class="nav-link" href="{% url 'stigma' %}">Stigma</a>
      </li>
      <li class="nav-item {% active 'obstacles' %}">
        <a class="nav-link" href="{% url 'obstacles' %}">Obstacles</a>
      </li>
      <li class="nav-item dropdown {% active_if_prefix 'menstruation'%}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Menstruation
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item {% active 'menstruation' %}" href="{% url 'menstruation' %}">Overview</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item {% active 'menstruation_basics' %}" href="{% url 'menstruation_basics' %}">The Basics</a>
          <a class="dropdown-item {% active 'menstruation_products' %} " href="{% url 'menstruation_products' %}">Product Options</a>
          <a class="dropdown-item {% active 'menstruation_professionals' %}" href="{% url 'menstruation_professionals' %}">Professionals</a>
          <a class="dropdown-item {% active 'menstruation_extratips' %}" href="{% url 'menstruation_extratips' %}">Extra Tips</a>
        </div>
      </li>
      <li class="nav-item {% active 'about' %}">
        <a class="nav-link" href="{% url 'about' %}">About Us</a>
      </li>
    </ul>
  </div>
</nav>