{% extends "base.html" %}
{% block title %}Stigma - Talk About Periods{% endblock %}
{% block pagetitle %}Stigma{% endblock %}
{% block subtitle %}Why we need to talk about periods{% endblock %}
{% block main %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Menstruation is stigmatized by society. </h3>
      <p class="m-3 intro-text">This stigma needs to ended. By understanding what stigma is and how we see it in
        society everyday, we can find the best ways to help destigmatize the period.</p>

    </div>
  </div>

</div>

<div clas="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="">
        <div class="card-body">
          <h5 class="stigma-title text-center">What is stigma and how is it present with menstruation?</h5>
          <p class="card-text">Stigma is the shame and disgrace society associates or attaches unfairly to something.
              There are countless examples of how periods are stigmatized in society. One of the most obvious examples of the
              stigma is the prevalence of menstruators being told to not talk about their period.
              There is a hush-hush attitude towards menstruation across society. How do we see it?
              Menstruators are taught how to hide tampons and pads and how to discreetly carry them around in public. Period
              blood leaking on clothing and blood stains showing up in public is made a menstruator’s greatest fear.
              People who defy society and show their period stains and stained sheets like Cass Bliss, Grace Victory, and Rupi
              Kaur instantly lose thousands of followers on social media and get hit with hate. People who openly talk about
              periods are said to be too open and others say they make people too uncomfortable.
              Menstruators can’t ask others for a period product if they get their period in public.
              Alternative phrases like “that time of the month” or “Auntie Flo” are used to not directly say menstruation because
              it is seen as too taboo.  <br>
              <br>
              All of these examples of stigma, and countless more not mentioned, are not simply annoying, they are harmful.
              By not talking about menstruation we are creating a world where menstruators feel shameful and confused. When we
              don’t do are part to create a conversation about menstruation, young menstruators get their periods for the first
              time and are deathly afraid.
              They think they are dying, they did something wrong, or it is a punishment. Even after the fear of the first period
              subsides, menstruation stigma continues to harm menstruators.
              It makes people too scared to see a doctor if they have irregular and potentially harmful symptoms associated with
              their period. It unnecessarily puts menstruators in uncomfortable and awkward situations, like what they should do
              if they are in public and find they have leaked through a pad and now have blood stains.
              The stigma causes a lack of discussion about it, which then causes misunderstanding which often times can become
              harmful.
            </p>
        </div>
      </div>
    </div>

    <div class="col-md-10">
        <div class="">
          <div class="card-body">
            <h5 class="stigma-title text-center">What is the solution to this harmful stigma? <p class="pink">Talking.</p></h5>
            <p class="card-text"> Yes, it may seem simple, it may seem small or ineffective, but in reality, talking is powerful.
                Stigma creates a lack of conversation or discussion about menstruation, so by talking about menstruation, we are
                helping break the stigma.
                Talking about menstruation does not mean that you must constantly let everyone know when you’re on your period. Nor
                does it mean that you need to suddenly become a complete period activist.
                You don’t need to step on a pedestal to talk. You talking about periods can be small. It can be simple and in
                everyday conversations.. It could be sharing a story about your period. It could be educating people about periods
                and correcting misconceptions others may have.
                It could be talking to your school to get them to provide free menstrual products in the bathrooms. It could be
                donating to or volunterring for a period charity. It could be educating yourself about menstruation. It could be
                countless things, but in the end the one goal is to end the stigma and make periods better for everyone.
              </p>
          </div>
        </div>
      </div>
  </div>
</div>


{% endblock %}