{% extends "menstruation/main.html" %}
{% block pagetitle %}{{ block.super}} <small>Basics</small>{% endblock %}
{% block main %}
<!--<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">The Basics</h1>
          <p class="lead">Learn about what menstruation really is</p>
        </div>
    </div>-->
                    
                                <div class="menstruationbasics">
                                            <p class="question">
                                                What is menstruation? 
                                                 </p>
                                                    <p>
                                                            Menstruation is a process that occurs in the body of most people with a uterus and other reproductive organs usually associated with the female/woman body. 
                                                            However, it is important to note that not everyone who menstruates necessarily identifies as female, so we’ll refer to people who experience menstruation as menstruators. 
                                                            Menstruation is where blood and other small fragments of tissue from the lining of the uterus are discharged through the vagina every 28 days (or so) from the time the person reaches puberty until they reach menopause, except for the time when/if they are pregnant 
                                                    </p>
                                
                                          <p class="question">
                                                Why does menstruation happen?
                                             </p>
                                                <p>
                                                        Menstruation happens as the menstruator’s body prepares for pregnancy each month. The ovaries release two chemical messengers or hormones,  called estrogen and progesterone. 
                                                         These two hormones help the body to build up the lining of the uterus.  When the uterus is "built up" it can accept a fertilized egg and a pregnancy can begin. 
                                                         If there is not a fertilized egg, the lining of the uterus breaks down and bleeds.  This same process happens over and over again throughout a menstruator’s lifetime.   
                                                </p>
                                
                                            <p class="question">
                                                When does menstruation happen?
                                                </p>
                                                    <p>Menstruation happens quite regularly after a few years. 
                                                         In the beginning a menstruator may not know when to predict their period, but after about 2-3 years a menstruator’s periods should be quite predictable, usually once every 4-5 weeks.  Most periods last for about 5 days. 
                                                         Some are shorter and some are longer.  
                                                    </p>
                                
                                            <p class="question">
                                                Who does menstruation happen to?
                                            </p>
                                                <p>
                                                        Menstruation usually happens to a people with a female anatomy/body about 2 years after their breasts begin to develop and about 6 months to a year after they begin to see vaginal discharge (mucus type fluid) that they might see or feel in their underwear. 
                                                        This time period usually occurs sometime during the pre-teenage to teenage years, though it is different for each person.
                                                </p>
                                
                                            <p class="question">
                                                Are menstruation and period the same thing?
                                                </p>
                                                    <p>
                                                        Yes. Menstruation and period are the same thing. Menstruation is usually the more formal term, while period is the more common term.
                                                    </p>
                                
                                            <p class="question">
                                                Does menstruation hurt?
                                              </p>
                                                <p>
                                                        Menstruation should not be particularly painful, but it can be uncomfortable.  Cramps can be common with menstruation, especially during the first few days.  You can try a warm heating pad on your stomach or taking ibuprofen or naproxen.  
                                                        If you have severe cramps that do not get better with ibuprofen or naproxen it would be a good idea to talk with your doctor.
                                                </p>
                                
                                            <p class="question">
                                                What is PMS?
                                                 </p>
                                                    <p>
                                                            PMS is short for PreMenstrual Syndrome.  It stands for emotional and physical symptoms that may happen before or during your period.  These symptoms might include anxiety, sadness, moodiness, bloating, and acne. 
                                                             If you have severe PMS and it's difficult to do your everyday activities it would be a good idea to talk with your doctor
                                                    </p>
                                        </div> 
{% endblock %}