{% extends "menstruation/main.html" %}
{% block pagetitle %}{{ block.super}} <small>Extra Tips</small>{% endblock %}
{% block main %}
<!--<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Menstruation</h1>
          <p class="lead">Learn the basics, your options, and more</p>
        </div>-->
<!-- <h3 class="topicheadings">Extra Help/Tips</h3>-->
<!-- <div class="container">
        <div class="row">
                <div class="col-md-4">
                        <div class="card">
                                <div class="card-body">
                                        <h5 class="card-title">Tracking Your Period</h5>
                                        <p class="card-text">
                                                Track your period manually or with an app, so you can predict when you
                                                need to be ready for your next time. Apps are helpful if your period is
                                                irregular especially during the first year of your period, as it finds
                                                trends to help make the predictions. <a href="https://flo.health/"
                                                        target="blank">Flo</a> is a useful, free app avaliable on ios
                                                and android.
                                        </p>
                                </div>
                        </div>
                </div>

                <div class="col-md-4">
                        <div class="card">
                                <div class="card-body">
                                        <h5 class="card-title">Getting Your Period in Public</h5>
                                        <p class="card-text">
                                                If your period starts in public and you don’t have a product on hand,
                                                do not be scared to ask someone for a pad or tampon. Chances are the
                                                same thing has happened to them, and they will be totally willing to
                                                give you one.
                                        </p>
                                </div>
                        </div>
                </div>

                <div class="col-md-4">
                        <div class="card">
                                <div class="card-body">
                                        <h5 class="card-title">Removal of Period Blood Stains</h5>
                                        <p class="card-text">
                                                If unwanted period blood leaks on your clothes, easily get blood stains
                                                out with cold water and soap. The sooner the stains are treated, the
                                                easier they will be to remove.
                                        </p>
                                </div>
                        </div>
                </div>

                <div class="col-md-4">
                        <div class="card">
                                <div class="card-body">
                                        <h5 class="card-title">What To Do with Used Disposable Period Products</h5>
                                        <p class="card-text">
                                                Don’t flush pads or tampons down the toilet. Place them in the garbage
                                                can next to the toilet or in the
                                                little trash box provided in most public bathroom stalls. Pads and
                                                tampons can end up clogging toilets.
                                                if flushed.
                                        </p>
                                </div>
                        </div>
                </div>


                <div class="col-md-4">
                        <div class="card">
                                <div class="card-body">
                                        <h5 class="card-title">Don't be Embarrassed</h5>
                                        <p class="card-text">
                                                There is no need to feel embarrassed about your period. It is a normal
                                                bodily process
                                                and about half of the population has, is going to, or is
                                                experiencing the same thing you are.
                                        </p>
                                </div>
                        </div>
                </div>

        </div>
</div> -->

<div class="container">
        <div class="row justify-content-center">
                <div class="col-md-10">

                        <div class="card mb-3">
                                <div class="row justify-content-center m-3">
                                        <div class="col-md-6">
                                                <h3 class="ml-3 text-center">Tracking Your Period</h3>
                                                <div class="tips-icons">
                                                        <i class="fas fa-calendar-alt"></i>
                                                </div>
                                        </div>
                                        <div class="col-md-6 tips-text-wrapper">
                                                <p class="tips-text">
                                                        Track your period manually or with an app, so you can predict
                                                        when you
                                                        need to be ready for your next time. Apps are helpful if your
                                                        period is
                                                        irregular especially during the first year of your period, as
                                                        it finds
                                                        trends to help make the predictions. <a href="https://flo.health/"
                                                                target="blank">Flo</a> is a useful, free app avaliable
                                                        on ios
                                                        and android.
                                                </p>
                                        </div>
                                </div>
                        </div>

                        <div class="card mb-3">
                                <div class="row justify-content-center m-3">
                                        <div class="col-md-6 order-md-2">
                                                <h3 class="ml-3 text-center">Getting Your Period in Public</h3>
                                                <div class="tips-icons">
                                                        <i class="fas fa-store-alt"></i>
                                                </div>
                                        </div>
                                        <div class="col-md-6 tips-text-wrapper order-md-1">
                                                <p class="tips-text">
                                                        If your period starts in public and you don’t have a product on
                                                        hand,
                                                        do not be scared to ask someone for a pad or tampon. Chances
                                                        are the
                                                        same thing has happened to them, and they will be totally
                                                        willing to
                                                        give you one.
                                                </p>
                                        </div>
                                </div>

                        </div>

                        <div class="card mb-3">
                                <div class="row justify-content-center m-3">
                                        <div class="col-md-6">
                                                <h3 class="ml-3 text-center">Removal of Period Blood Stains</h3>
                                                <div class="tips-icons">
                                                        <i class="fas fa-tint"></i>
                                                </div>
                                        </div>
                                        <div class="col-md-6 tips-text-wrapper">
                                                <p class="tips-text">
                                                        If unwanted period blood leaks on your clothes, easily get
                                                        blood stains
                                                        out with cold water and soap. The sooner the stains are
                                                        treated, the
                                                        easier they will be to remove.
                                                </p>
                                        </div>
                                </div>
                        </div>

                        <div class="card mb-3">
                                <div class="row justify-content-center m-3">
                                        <div class="col-md-6 order-md-2">
                                                <h3 class="ml-3 text-center">Disposing Used Period Products</h3>
                                                <div class="tips-icons">
                                                        <i class="fas fa-trash"></i>
                                                </div>
                                        </div>
                                        <div class="col-md-6 tips-text-wrapper order-md-1">
                                                <p class="tips-text">
                                                        Don’t flush pads or tampons down the toilet. Place them in the
                                                        garbage
                                                        can next to the toilet or in the
                                                        little trash box provided in most public bathroom stalls. Pads
                                                        and
                                                        tampons can end up clogging toilets.
                                                        if flushed.
                                                </p>
                                        </div>
                                </div>

                        </div>

                        <div class="card mb-3">
                                <div class="row justify-content-center m-3">
                                        <div class="col-md-6">
                                                <h3 class="ml-3 text-center">Don't be Embarrassed</h3>
                                                <div class="tips-icons">
                                                        <i class="fas fa-flushed"></i>
                                                </div>
                                        </div>
                                        <div class="col-md-6 tips-text-wrapper">
                                                <p class="tips-text">
                                                        There is no need to feel embarrassed about your period. It is a
                                                        normal
                                                        bodily process
                                                        and about half of the population has, is going to, or is
                                                        experiencing the same thing you are.
                                                </p>
                                        </div>
                                </div>
                        </div>




                </div>
        </div>
</div>
{% endblock %}