{% extends "menstruation/main.html" %}
{% block title %}Products - Talk About Periods{% endblock %}
{% load static %}
{% block pagetitle %}{{ block.super}} <small>Options</small>{% endblock %}
{% block main %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">

            <div class="card mb-3">
                <div class="row m-3">
                    <div class="col-md-5 prod-img-wrapper">
                        <img src="{% static 'pad.png' %}" class="img-fluid" />
                        <h3 class="ml-3"></h3>
                    </div>
                    <div class="col-md-7">
                        <h3>Pads (Sanitary Napkins)</h3>
                        <p class="cost"> Cost:
                            Disposable- about 10 - 30 cents (USD) per pad - if period lasts 5 days and uses each pad
                            for 8 hours (3 a day) about 1.50 to 4.50 USD per period</p>
                        <p class="card-text">
                            Pads are thick pieces of material that line the underwear in order to collect menstruation
                            blood. Disposable pads are sticky and are stuck to the underwear, while cloth pads are
                            usually buttoned closed around the underwear. Unlike tampons, pads are external and collect
                            blood once it has come out of the vagina. Always has a useful <a href="https://always.com/en-us/tips-and-advice/your-first-period/how-to-use-a-pad"
                                target="_blank">guide</a> for how to put on a pad. Pad packages should also include
                            instructions for how to put them on. Pads come in a wide variety of sizes and shapes. Some
                            are thicker and designed for heavier flow, while some are thinner and lighter. Some pads
                            have wings, while others don’t.The length a pad can be worn for greatly varies depending on
                            the type, but in general most pads can be worn for about 6-8 hours. Disposable pads are
                            discarded after each use, while cloth pads can be washed and used again.
                            Panty liners are very thin pads that can be worn on extremelu light days during the period,
                            or for everyday use to collect vaginal discharge.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Pad Pros</h5>
                            <ul>
                                <li>Comfortable</li>
                                <li>External</li>
                                <li>Lack of TSS risk</li>
                                <li>Great for sleep if longer than 8 hours</li>
                                <li>Take out easily and comfortably even if flow is not heavy</li>
                                <li>Wide variety of shapes and sizes</li>
                                <li>Cloth pads can be reused for several years and are cost efficient</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Pad Cons</h5>
                            <ul>
                                <li>Can’t swim</li>
                                <li>Leaks if not positioned correctly </li>
                                <li>Cost of disposable pads quickly adds up</li>
                                <li>Need to wash reusable pads</li>
                                <li>Large amounts of non-recyable waste created by disposable pads</li>
                                <li>Not compatiable with certain types of underwear like thongs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row m-3">
                    <div class="col-md-5 order-md-2 prod-img-wrapper">
                            <img src="{% static 'tampon.png' %}" class="img-fluid" />
                        <h3 class="ml-3"></h3>
                    </div>
                    <div class="col-md-7 order-md-1">
                        <h3>Tampons</h3>
                        <p class="cost">
                            Cost: about 10 - 20 cents (USD) per tampon - if period lasts 5 days and uses each tampon
                            for 8 hours (3 a day) about 1.50 to 3.00 USD per period</p>
                        <p class="card-text">
                            Tampons are soft cylinders usually made of cotton that are inserted inside the vagina to
                            collect menstruation blood. They include a cylindrical portion that collects the blood, as
                            well as a string that hangs out of the vagina for easy removal. Tampons generally come with
                            a plastic applicator that helps insert the tampon, but it disposed of afterward the tampon
                            has been inserted. Some tampons are now applicator free and are inserted with a finger.
                            Inserting your first tampon can be a bit intimidating, but <a href="https://youngwomenshealth.org/2012/09/27/tampons/"
                                target="_blank">here</a> is a great guide for how to insert a tampon for the first
                            time. In addition, most tampon packages will also include instructions.
                            If the tampon is in correctly, you should not be able to feel it. Tampons should not be
                            left in for generally more than eight hours, though specific products will have their own
                            recommendations. Leaving a tampon in for too long risks Toxic Shock Syndrome (TSS) as well
                            as leaking.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Tampon Pros</h5>
                            <ul>
                                <li>Unlike pad, can be used for swimming</li>
                                <li>Great for dance and other sports as it stays in place</li>
                                <li>Different sizes</li>
                                <li>Don't need to wear underwear (though recommended)</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Tampon Cons</h5>
                            <ul>
                            <li>TSS risk</li>
                            <li>Can be difficult to put in</li>
                            <li>Problems if not 100% cotton for some menstruators </li>
                            <li>Creates large amounts of waste like pads</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row m-3">
                    <div class="col-md-5 prod-img-wrapper">
                            <img src="{% static 'cup.png' %}" class="img-fluid" />
                        <h3 class="ml-3"></h3>
                    </div>
                    <div class="col-md-7">
                        <h3>Menstrual Cups</h3>
                        <p class="cost">
                            Cost: about 27 USD
                        </p>
                        <p class="card-text">
                            Menstrual cups are small, flexible, bell-shaped cups made out of plastic that catch
                            menstrual
                            blood. Menstrual cups like tampons are inserted into the vagina in order to collect flow.
                            Unlike tampons which absorb the blood, menstrual cups collect blood like a cup. Cups can be
                            worn for up to 12 hours and are reusable. The cups are taken out and the blood disposed of
                            usually in the toilet. After each use the cups need to be washed before the next use. <a
                                href="https://menstrualcupreviews.net/insertion-faqs/#faq2" target="blank">This website</a>
                            has great information on how to insert a menstrual cup along with answers to some common
                            FAQs about inserting a cup.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Cup Pros</h5>
                            <ul>
                                <li>12 hours use- long time</li>
                                <li>Reusable</li>
                                <li>Cost efficient over time</li>
                                <li>Less waste for environment</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Cup Cons</h5>
                            <ul>
                                <li>Can create mess when try to take out</li>
                                <li>Possibly uncomfortable</li>
                                <li>Can be difficult to put in</li>
                                <li>Larger upfront cost</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row m-3">
                    <div class="col-md-5 order-md-2 prod-img-wrapper">
                            <img src="{% static 'freebleedind.png' %}" class="img-fluid" />
                        <h3 class="ml-3"></h3>
                    </div>
                    <div class="col-md-7 order-md-1">
                        <h3>Free-Bleeding Movement</h3>
                        <p class="cost">
                            Cost: Free
                        </p>
                        <p class="card-text">
                            Some menstruators, either by choice or forced to by poverty, free bleed on their periods.
                            Free bleeding means not using any type of product to collect menstrual blood. Instead of
                            wearing pads or similar products, menstruators allow period blood to freely flow, often
                            staining their clothes. Free-bleeding has become a movement to advocate for free period
                            products in public bathrooms as well as to show that menstruators should be able to
                            menstruate however they feel comfortable. The movement seeks to show that people should be
                            able to menstruate without the shame that surrounds menstruation in society. <a href="https://helloclue.com/articles/culture/whats-all-fuss-about-free-bleeding-why-does-it-matter"
                            target="blank">HelloClue</a> has
                            a great article about free bleeding and the movement surronding it.
                            At the same time, free-bleeding is not always voluntary and part of a movement, but rather
                            due to lack of available period products. ( Period Obstacles / Period poverty has more
                            information on this and programs seeking to help menstruators.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row m-3">
                    <div class="col-md-5 prod-img-wrapper">
                            <img src="{% static 'misc.png' %}" class="img-fluid" />
                        <h3 class="ml-3"></h3>
                    </div>
                    <div class="col-md-7">
                        <h3>New Products</h3>
                        <p class="cost">
                            Costs: greatly vary
                        </p>
                        <p class="card-text">
                            There are many other alternative menstrual options including disks and underwear, and
                            new products are constantly being made. Before using a new product it is important to check
                            the reviews as well as taking a look at the materials used. If a product is reusable,
                            verify that recommended cleaning methods will thoroughly cleanse the product and kill
                            possible bacterias. When using any new product, pay special attention to if any possible
                            irratations occur.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}