{% extends "menstruation/main.html" %}
{% block title %}Professionals - Talk About Periods{% endblock %}
{% load static %}
{% block pagetitle %}{{ block.super}} <small>Professionals</small>{% endblock %}
{% block main %}
<!--<p>
    Obstetrician-Gynecologist (Ob/Gyn)
</p>
<p>An obstetrician-gynecologist is a doctor who specializes in female health. They are great for helping with
    menstruation related issues or concerns as it is part of their area of expertise. Don’t be afraid to look for an
    Ob/Gyn near you and look into an appointment

</p>
<p>Planned Parenthood</p>
<p>
    <a href="https://www.plannedparenthood.org" target="blank">Planned parenthood</a> is a great resource if you are
    looking to talk to a professional about menstrual issues and finances are an obstacle. Though, unlike some of the
    other planned parenthood services, if you are a minor, in order to receive the well-woman exam, you do need
    parental consent.

</p>
<p>
    General Practitioner/ Physician
</p>
<p>You can talk to your general physician about any irregularities or worries you have about your menstruation.
    Hopefully they can help you, but they might end up referring you to an Ob/Gyn if more specialized help is needed.

</p>-->


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center">Who Can I See To Talk About My Period?</h3>
            <p class="m-3 intro-text"><img src="{% static "question-mark.jpg" %}" class="proimg" alt="Question mark drawn in Chalk on a blackboard">If you are experiencing irregularities, abnormal discomfort, or any other
                issues concerning your menstruation,
                it
                is important that you talk to a doctor or healthcare professional. Even if everything with your
                cycle appears
                normal, it is recommended that you see a professional annually. And it is highly recommended
                that you see
                someone
                at least once during your teenage years. It is important to know that there is no need to feel
                embarrassed or
                ashamed if you need or want to talk to a professional. It can feel intimidating to talk about,
                but remember
                that
                this is their job and they want to help you.<strong> There are a couple options of where you can go,
                    including:</strong></p>
        
        </div>
    </div>

</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">

            <div class=" my-3">
                <div class="row justify-content-center m-3">
                    <div class="col-md-12">
                        <h3 class="">Obstetrician-Gynecologist (Ob/Gyn)</h3>
                        <p class="prof-text">
                            Doctors specializing in female health are knwon as obstetricians-gynecologists. Obstricians
                            focus on pregnancy, while gynecologists focus on female reproductive health. They are great
                            for helping with
                            menstruation related issues or concerns as it is part of their area of expertise. Don’t be
                            afraid to look for an
                            Ob/Gyn near you and look into an appointment.
                        </p>
                    </div>
                </div>
            </div>
            <div class=" mb-3">
                <div class="row justify-content-center m-3">
                    <div class="col-md-12">
                        <h3 class="">Planned Parenthood</h3>
                        <p class="prof-text">
                            <a href="https://www.plannedparenthood.org" target="blank">Planned Parenthood</a> is a
                            great resource if you are
                            looking to talk to a professional about menstrual issues and finances are an obstacle. It
                            is important to note though, that unlike some of the
                            other planned parenthood services, if you are a minor, in order to receive the well-woman
                            exam, you do need
                            parental consent.
                        </p>
                    </div>
                </div>
            </div>

            <div class=" mb-3">
                <div class="row justify-content-center m-3">
                    <div class="col-md-12">
                        <h3 class="">General Practitioner/ Physician</h3>
                        <p class="prof-text">
                            You can even talk to your general physician about any irregularities or worries that you
                            have
                            about
                            your menstruation. Hopefully they can help you, but they might end up referring you to an
                            Ob/Gyn or another specialist if more
                            specialized help is needed.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}